<configuration scan="true" scanPeriod="30 seconds">
	<!-- Spring Property -->
	<springProperty scope="context" name="LOG_DIR" source="logging.file.path" />
	<!-- 로그 패턴 -->
	<property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file:%line] %msg%n"/>

	<!-- console log-->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>

	<!-- default file log-->
	<appender name="DEFAULT-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>${LOG_PATTERN}</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/fhir_log.%d{yyyyMMdd}.%i.gz</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<!-- error file log -->
	<appender name="ERROR-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>error</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>${LOG_PATTERN}</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/error/error_log.%d{yyyyMMdd}.%i.gz</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<!-- logger -->
	<logger name="org.springframework.beans" level="INFO">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.springframework.core" level="INFO">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="default-log" level="INFO" additivity="false">
		<appender-ref ref="DEFAULT-LOG" />
	</logger>
	<logger name="error-log" level="ERROR" additivity="false">
		<appender-ref ref="ERROR-LOG" />
	</logger>

	<!-- root -->
	<root level="INFO">
		<!--<appender-ref ref="STDOUT" />-->
		<appender-ref ref="DEFAULT-LOG" />
		<appender-ref ref="ERROR-LOG" />
	</root>
</configuration>
